<!DOCTYPE html>
<html>
<head>
<title>GeoCache</title>
</head>
<body>

<h1>Remove cache</h1>

<a href="{{url_for('main')}}">Home</a><br>
<a href="{{url_for('login')}}">Login</a><br>
<a href="{{url_for('register')}}">Register</a><br>
<a href="{{url_for('logout')}}">Logout</a><br>
<a href="{{url_for('addCache')}}">Add cache</a><br>
<a href="{{url_for('findCache')}}">Find cache</a><br>
<a href="{{url_for('removeCache')}}">Remove cache</a><br>

<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.id }}
    {{ form.submit }}
</form>

<p>{{results}}</p>

</body>
</html>